@media print {
    
    @page{
        size:A4 landscape;
    }
    #print_btn{
        display: none;
        visibility: none;
    }

   

    

    #print{
        width:100%;
        display:inline;
    }
    .rectangle{
        display:flex;
    }

    
    .hide{
        display: none;
        visibility: none;
    }

    .no-print{
        display: none;
        visibility: none;
    }

    
}