@media print {
    
    @page{
        size:A4 landscape;
    }
    #print_btn{
        display: none;
        visibility: none;
    }

   

    

    #print{
        display:inline;
    }

    
    .hide{
        display: none;
        visibility: none;
    }

    .no-print{
        display: none;
        visibility: none;
    }

    .editBarcode{
        width:100%;
        margin: 0;
        padding: 0;
    }
}